name: Terraform S3 - Stage

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show repo structure (DEBUG)
        run: |
          pwd
          ls -R

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: |
          cd terraform/environments/stage
          terraform init

      - name: Terraform Validate
        run: |
          cd terraform/environments/stage
          terraform validate

      - name: Terraform Plan
        run: |
          cd terraform/environments/stage
          terraform plan -out=tfplan

      - name: Terraform Apply
        run: |
          cd terraform/environments/stage
          terraform apply -auto-approve tfplan
